<!doctype html>
<html>
  <head>
    <title>My Little Webapp: Coding Is Magic</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
  </head>
  <body>
  	<img src="http://railsgirls.com/images/rg-warsaw.png" />
     <%=render "form"%>
<p><%= link_to("Back to all entries", entries_path) %></p>
  </body>
</html>